body {
    font-family: 'Roboto', sans-serif;
}
.main-container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}
.form-row {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    gap: 20px;
}
.radio-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.label {
    width: 150px;
    min-width: 150px;
    text-align: left;
}
.field {
    flex: 1;
}
.footer-left {
    display: flex;
    flex-direction: row;
}